# 4.데이터 준비

In [2]:
import pandas as pd

In [3]:
red_df = pd.read_csv("winequality-red.csv",sep=";",engine='python') #pandas의 read_csv함수를 이용 ,sep은 사용할 구분 기호,  engine은 사용할 parser 엔진
white_df = pd.read_csv("winequality-white.csv",sep=";",engine='python')#read_csv 외부에서 csv파일을 읽음
red_df.to_csv("winequality-red2.csv",index=False) #pandas에 to_csv함수 이용 데이터프레임 객체를 csv형식으로 변환
white_df.to_csv("winequality-white2.csv",index=False)

### 4-2)데이터 병합하기

In [13]:
#csv에서 마지막 quality는 y n-1개의 입력 변수(x) x는 독립변수(가지고 있는 데이터) y는 예측 할 데이터(종속변수)

# red_df.insert(0,column='type',value='red')
# red_df.head()
print(red_df.shape)
red_df.head(10) #head로 10개출력

(1599, 13)

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,red,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,red,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,red,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,red,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,red,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
5,red,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5
6,red,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,5
7,red,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,7
8,red,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.9968,3.36,0.57,9.5,7
9,red,7.5,0.50,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5

In [19]:
white_df.head(10) #head로 10개 출력

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,white,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,white,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
5,white,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
6,white,6.2,0.32,0.16,7.0,0.045,30.0,136.0,0.9949,3.18,0.47,9.6,6
7,white,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
8,white,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
9,white,8.1,0.22,0.43,1.5,0.044,28.0,129.0,0.9938,3.22,0.45,11.0,6

In [15]:
white_df.insert(0,column='type',value='white') #열을 type 값은 white 추가
white_df.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,white,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,white,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [25]:
wine=pd.concat([red_df,white_df]) #concat 함수를 이용해 red_df와 white_df 합치기
wine.shape #합쳐진 프레임 shape
wine.to_csv("wine.csv",index=False)

# 5.데이터 탐색

In [26]:
print(wine.info())
#info를 통하여 기본 정보 확인 전체 6497개 샘플,열 13, 12개의 독립변수(x),1개 종속 변수

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6497 entries, 0 to 4897
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   type                  6497 non-null   object
 1   fixed acidity         6497 non-null   float64
 2   volatile acidity      6497 non-null   float64
 3   citric acid           6497 non-null   float64
 4   residual sugar        6497 non-null   float64
 5   chlorides             6497 non-null   float64
 6   free sulfur dioxide   6497 non-null   float64
 7   total sulfur dioxide  6497 non-null   float64
 8   density               6497 non-null   float64
 9   pH                    6497 non-null   float64
 10  sulphates             6497 non-null   float64
 11  alcohol               6497 non-null   float64
 12  quality               6497 non-null   int64
dtypes: float64(11), int64(1), object(1)
memory usage: 710.6+ KB
None

In [29]:
wine.columns = wine.columns.str.replace(' ','_') #replace함수 사용 , 여백을-> _바꾼다.
wine.head()
wine.describe()
#describe() 속성별 개수,평균,표준편차,최소값, 전체 데이터 백분율에 대한 25번째 백분위수(25%), 중앙값인 50번째 백분위수(50%),
#75번째 백분위수(75%) 100번째 백분위수인 최대값 출력

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
count,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000
mean,7.215307,0.339666,0.318633,5.443235,0.056034,30.525319,115.744574,0.994697,3.218501,0.531268,10.491801,5.818378
std,1.296434,0.164636,0.145318,4.757804,0.035034,17.749400,56.521855,0.002999,0.160787,0.148806,1.192712,0.873255
min,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.400000,0.230000,0.250000,1.800000,0.038000,17.000000,77.000000,0.992340,3.110000,0.430000,9.500000,5.000000
50%,7.000000,0.290000,0.310000,3.000000,0.047000,29.000000,118.000000,0.994890,3.210000,0.510000,10.300000,6.000000
75%,7.700000,0.400000,0.390000,8.100000,0.065000,41.000000,156.000000,0.996990,3.320000,0.600000,11.300000,6.000000
max,15.900000,1.580000,1.660000,65.800000,0.611000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000,9.000000

In [30]:
sorted(wine.quality.unique()) #quality 속성값 중에서 유일한 값을 출력한다. 7개 등급 확인

[3, 4, 5, 6, 7, 8, 9]

In [31]:
wine.quality.value_counts() #quality 속성값에 대한 빈도수 , unique value들을 count해주는 함수

6    2836
5    2138
7    1079
4     216
8     193
3      30
9       5
Name: quality, dtype: int64

# 6.데이터 모델링
##### 기술 통계를 사용해 데이터에서 탐색한 내용으로 와인 그룹을 비교 후 품질 등급 예측 모델

In [35]:
#groupby 데이터 분할,데이터 연산,데이터 병합 
#column이름이나 column으로 이루어진 리스트를 전달한다.
wine.groupby('type')['quality'].describe() #groupby로 'type'부분을 분할 한 뒤 품질 열에서 describe() 실행

        count      mean       std  min  25%  50%  75%  max
type
red    1599.0  5.636023  0.807569  3.0  5.0  6.0  6.0  8.0
white  4898.0  5.877909  0.885639  3.0  5.0  6.0  6.0  9.0

In [37]:
wine.groupby('type')['quality'].mean() #mean함수로 평균 구하기

type
red      5.636023
white    5.877909
Name: quality, dtype: float64

In [38]:
wine.groupby('type')['quality'].std() #std함수로 표준편차 구하기

type
red      0.807569
white    0.885639
Name: quality, dtype: float64

In [39]:
wine.groupby('type')['quality'].agg(['mean', 'std']) #mean()함수랑 std()함수를 묶어서 한번에 사용하기 위해 agg()함수를 사용

           mean       std
type
red    5.636023  0.807569
white  5.877909  0.885639

In [ ]:
from scipy import stats  #t-검정을 위해서는 scipy 라이브러리 패키지를 사용
from statsmodels.formula.api import ols, glm #회귀 분석을 위해서는 statsmodels 라이브러리 패키지를 사용

red_wine_quality = wine.loc[wine['type'] == 'red', 'quality'] #레드 와인 샘플의 quality 값만 찾아서 red_wine에 저장
white_wine_quality = wine.loc[wine['type'] == 'white', 'quality'] #화이트 와인 샘플의 quality 값만 찾아서 white_wine에 저장 
stats.ttest_ind(red_wine_quality, white_wine_quality, equal_var = False) #scipy 패키지의 stats.ttest_ind() 함수를 사용하여 t-검정을 하고 두 그룹 간 차이를 확인

In [ ]:
Rformula = 'quality ~ fixed_acidity + volatile_acidity + citric_acid + residual_sugar + chlorides + free_sulfur_dioxide + total_sulfur_dioxide + density + pH + sulphates + alcohol' #선형 회귀 분석식의 종속 변수(y)와 독립 변수(x1~x10)를 구성
regression_result = ols(Rformula, data = wine).fit() #선형 회귀 모델 중에서 OLSOrdinary Least Squares 모델을 사용
regression_result.summary()  #선형 회귀 분석과 관련된 통계값을 출력

In [ ]:
sample1 = wine[wine.columns.difference(['quality', 'type'])] #wine에서 quality와 type 열은 제외하고, 회귀 분석 모델에 사용할 독립 변수만 추출하여 sample1에 저장
sample1 = sample1[0:5][:] #sample1에 있는 샘플 중에서 0번~4번 5개 샘플만 추출하고, sample1에 다시 저장하여 예측에 사용할 샘플을 제작
sample1_predict = regression_result.predict(sample1) #샘플 데이터를 회귀 분석 모델 regression_result의 예측 함수 predict()에 적용하여 수행한 뒤 결과 예측값을     sample1_predict에 저장
sample1_predict #sample1_predict를 출력하여 예측한 quality를 확인

In [ ]:
wine[0:5]['quality']  #wine에서 0번부터 4번까지 샘플의 quality 값을 출력하여 sample1_predict이 맞게 예측되었는지 확인

In [ ]:
data={"fixed_acidity" : [8.5, 8.1], "volatile_acidity":[0.8, 0.5], "citric_acid":[0.3, 0.4], "residual_sugar":[6.1, 5.8], "chlorides":[0.055,0.04], "free_sulfur_dioxide":[30.0, 31.0], "total_sulfur_dioxide":[98.0,99], "density":[0.996, 0.91], "pH":[3.25,3.01], "sulphates":[0.4, 0.35], "alcohol":[9.0, 0.88]} #회귀식에 사용한 독립 변수에 대입할 임의의 값을 딕셔너리 형태로 제작
sample2 = pd.DataFrame(data, columns=sample1.columns) #딕셔너리 형태의 값과 sample1의 열 이름만 뽑아 데이터프레임으로 묶은 sample2를 제작
sample2  #sample2를 출력

In [ ]:
sample2_predict = regression_result.predict(sample2) #샘플 데이터를 회귀 분석 모델 regression_result의 예측 함수 predict()에 적용하여 수행한 뒤 결과 예측값을    sample2_predict에 저장
sample2_predict  #sample2_predict를 출력하여 예측한 quality를 확인

In [ ]:
import matplotlib.pyplot as plt 
import seaborn as sns #시각화에 필요한 패키지 로드
sns.set_style('dark') #히스토그램 차트의 배경색 스타일을 설정
sns.distplot(red_wine_quality, kde = True, color = "red", label = "red wine")  #레드 와인에 대한 distplot 객체를 생성
sns.distplot(white_wine_quality, kde = True, label = "white wine") #화이트 와인에 대한 distplot 객체를 생성
plt.title("Qualit of Wine Type") #차트 제목을 설정
plt.legend()  # 차트 범례를 설정
plt.show()  #설정한 내용대로 차트를 표시

In [ ]:
import statsmodels.api as sm //부분 회귀 계산을 위해 statsmodels.api를 로드
others = list(set(wine.columns).difference(set(["quality", "fixes acidity"])))  #부분 회귀에 사용한 독립 변수와 종속 변수를 제외한 나머지 변수 이름을 리스트 others로 추출
p, resides = sm.graphics.plot_partregress("quality","fixed_acidity", others, data = wine, ret_coords = True) #나머지 변수는 고정하고 fixed_acidity가 종속 변수 quality에 미치는 영향에 부분회귀를 수행
plt.show  #부분 회귀의 결과를 플롯으로 시각화하여 나타냄
fig = plt.figure(figsize = (8, 13))  #차트의 크기를 지정
sm.graphics.plot_partregress_grid(regression_result, fig = fig)  #다중 선형 회귀 분석 결과를 가지고 있는 regression_result를 이용해 각 독립 변수의 부분 회귀 플롯을 구함
plt.show() #부분 회귀 결과를 플롯으로 시각화하여 나타냄